.footer {
    background-color: #373844;
    color: #8e9198;
    font-size: 13px;
    text-transform: uppercase;
    padding: 72px 106px;

    @include media-breakpoint-down(md) {
        padding: 50px 106px;
    }
}

.socials {
    padding: 0;
}

.socials__item a {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: block;
}

.socials__item_fb a {
    background: #3b5998 url(../img/fb.png) no-repeat center center;
}

.socials__item_tw a {
    background: #55acee url(../img/tw.png) no-repeat center center;
    margin: 0 7px;
}

.socials__item_g a {
    background: #dd4b39 url(../img/g.png) no-repeat center center;
}

.line {
    background: #52535e;
    height: 1px;
    margin-top: 55px;

    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }
}
.credits {
    text-align: center;
    margin-top: 50px;

    @include media-breakpoint-down(md) {
        margin-top: 20px;
    }
}